
.phone{
	top: 4%;
}

.phone1{
	top: 15%;
}

.header-slider .header-slider-phone{
	top: 4%;
}

.video-phone-holder iframe {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 9%;
  width: 74%;
  height: 78%;
}

.glyphicon{
	font-family: inherit;
}

.subscribe-input::-webkit-input-placeholder{
	line-height: 60px;
}

header #home .container{
	overflow: hidden !important;
}

.pagination2{
	margin-top: 10px;
}

.clear-it{
	clear: both;
}

.ss1 .ss1-over i{
	left: 50%;
	margin-left: -9px;
}

.test-pag{
	margin-bottom: 72px;
}

.video-phone1{
	top: 4% !important;
}

.centered-image-resp{
	display: none;
}

.header-slider .header-slider-start .header-slider-swiper{
	overflow: hidden;
}

.video-col1 iframe{
	width: 100%;
	height: 315px;
}

@media (max-width: 1199px) and (min-width: 992px){
	.phone.phone1 {
	  top: 62.4% !important;
	}

	.header-slider .header-slider-phone{
		top: 4% !important;
  		left: 63.9%;
	}

	.header-slider .header-slider-start{
		margin-bottom: 30px;
		margin-top: 130px;
	}

	.clear-it{
		clear: none;
	}

	.header-slider .header-slider-start .header-slider-swiper {
	  left: 25%;
	  position: relative;
	}
}

@media (max-width: 991px){
	#services .row .col-sm-6{
		margin-top: 36px;
	}

	.sign-up-responsive:hover{
		background: transparent;
	}

	.clear-it{
		clear: none;
	}

	.phone.phone1 {
	  top: 9.8% !important;
	}

	.header-slider .header-slider-phone{
		top: 4% !important;
	}

	.ss1 img{
		width: 72.8% !important;
	}

	.ss1 .ss1-over{
		width: 72.8% !important;
		left: 13.6%;
	}

	.header-slider .header-slider-start .ss1-over{
		width: 73.8% !important;
	}

	.ss2.swiper-slide img{
		width: 72.4% !important;
	}

	.phone.video-phone1.phone1{
		top: 3% !important;
	}

	.video-col2 {
	  margin-bottom: 72px;
	}

	.header-slider-start .pagination1-1{
		margin-top: 30px;
		margin-bottom: 36px;
	}

	.centered-image-resp{
		display: block;
	}

	.resp-head-fix{
		margin-top: 130px;
		margin-bottom: 30px;
	}	

	.header-text{
		top: 0 !important;
	}

	.for-btns{
		overflow: auto;
	}

	.for-btns img{
		width: 100% !important;
		height: auto !important;
	}
}

@media (max-width: 767px){
	.multilayer-parallax-home{
		position: relative !important;
		/*background: #000;*/
	}

	#player{
		min-height: 100vh;
		height: 100%;
		position: absolute !important;
	}
}
